{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <h1>Configuration des alertes</h1>
    <form id="alertForm">
        <div id="limite_tempinf_container">
            <label for="tinfInput">Limite inferieur de température :</label>
            <input type="number" step="0.5" id="tinfInput">
            <label>°C</label>
        </div>
        <div id="limite_tempsup_container">
            <label for="tsupInput">Limite supérieur de température :</label>
            <input type="number" step="0.5" id="tsupInput">
            <label>°C</label>
        </div>
        <div id="limite_huminf_container">
            <label for="hinfInput">Limite inferieur d'humidité :</label>
            <input type="number" min="0" max="100" id="hinfInput">
            <label>%</label>
        </div>
        <div id="limite_humsup_container">
            <label for="hsupInput">Limite supérieur d'humidité :</label>
            <input type="number" min="0" max="100" id="hsupInput">
            <label>%</label>
        </div>
        <div id="delai_container">
            <label for="frequencyInput">Délai entre chaque alerte :</label>
            <input type="number" min="0" max="180" step="5" id="frequencyInput">
            <label>minutes</label>
        </div>
        <div id="mail_container">
            <label for="mailInput">Liste des destinataires :</label>
            <input type="text" id="mailInput">
        </div>
        <button id="submit" type="button" onclick="submitSensor()">Ajouter</button>
    </form>
</div>
<script src="{% static '/js/ajoutAlerte.js' %}"></script>
{% endblock %}