{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <form id="sensorForm">
        <label for="idInput">ID de la sonde :</label>
        <input type="text" id="idInput">
        <br>
        <label for="nameImput">Nom de la sonde :</label>
        <input type="text" id="nameInput">
        <br>
        <label for="latitudeInput">Coordonnées de la sonde :</label>
        <input type="text" id="latitudeInput">
        <input type="text" id="longitudeInput">
        <br>
        <button id="submit" type="button" onclick="submitSensor()">Ajouter</button>
        <div id='map'></div>
    </form>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>

<script src="{% static '/js/ajout.js' %}"></script>
<script src="{% static '/js/map.js' %}"></script>

<script>
    let myMarker = undefined;
    myMap.listenEvent(function (e) {
        document.getElementById('latitudeInput').value = e.latlng.lat
        document.getElementById('longitudeInput').value = e.latlng.lng

        if (typeof myMarker != 'undefined') {
            myMaker.setLatLng(new myMap.L.LatLng(e.latlng.lat, e.latlng.lng))
        } else {
            myMarker = myMap.addPoint(e.latlng.lat, e.latlng.lng)
        }


    })
</script>
{% endblock %}