{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Tableau de bord</h1>
    <table>
        <thead>
            <tr>
                <th>Nom de de la sonde</th>
                <th>Température</th>
                <th>Humidité</th>
                <th>Batterie</th>
                <th>RSSI</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in data %}
            <tr>
                <td><a href="{% url 'detail' sensorId=sensor.sensor_id %}">{{ sensor.sensor_id }}</a></td>
                <td>{{ sensor.temperature }}</td>
                <td>{{ sensor.humidity }}</td>
                <td>{{ sensor.battery_level }}</td>
                <td>{{ sensor.rssi }}</td>
                <td>
                    <form method="post" action="{% url 'delete_sensor' sensorId=sensor.sensor_id %}">
                        {% csrf_token %}
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    <a href="{% url 'historique' %}" id="historique">Historique</a>
</div>
<script>
    function deleteSensor(sensorId) {
        if (confirm("Etes-vous sûr de vouloir supprimer ce capteur ?")) {
            fetch('/api/sensor/delete?sensor_id=${sensorId}', {
                method: 'GET',
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                } else if (data.error_message) {
                    alert('Erreur : ${data.error_message}');
                }   
            })
            .catch(error => {
                console.error('Erreur lors de la suppression du capteur :', error);
            });
        }
    }
deleteSensor('votre_sensor_id');
</script>
{% endblock %}
