{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/deleteAlerte.js' %}"></script>

<div class="container">
    <h1>Alertes</h1>
    <a href="{% url 'ajoutAlerte' %}">
        <button id="newAlerte">Ajouter une alerte</button>
    </a>
    <table id="myTable">
        <thead>
            <tr>                
                <th>mail</th>
                <th>temp -</th>
                <th>temp +</th>
                <th>hum -</th>
                <th>hum +</th>
                <th>delai</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% if alerts|length > 0 %}
                {% for alert in alerts %}
                <tr>
                    <td>{{ alert.fields.recipients }}</td>
                    <td>{{ alert.fields.temperature_inferior }}</td>
                    <td>{{ alert.fields.temperature_superior }}</td>
                    <td>{{ alert.fields.humidity_inferior }}</td>
                    <td>{{ alert.fields.humidity_superior }}</td>
                    <td>{{ alert.fields.frequency }}</td>
                    <td>
                        <a href="{% url 'modifAlerte' %}">
                            <button>Modifier</button>
                        </a>
                        <button id="deleteButton" type="button" onclick="deleteAlert('{{ alert.pk }}')">Supprimer l'alerte</button>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>    
    </table>
</div>
{% endblock %}