{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<div class="container">
    <h1>Tableau de bord</h1>
    <table id="myTable">
        <thead>
            <tr>
                <th>Nom de de la sonde</th>
                <th>Température</th>
                <th>Humidité</th>
                <th>Batterie</th>
                <th>RSSI</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in data %}
            <tr>
                <td><a href="{% url 'detail' sensorId=sensor.sensor_id %}">{{ sensor.sensor_id }}</a></td>
                <td>{{ sensor.temperature }}</td>
                <td>{{ sensor.humidity }}</td>
                <td>{{ sensor.battery_level }}</td>
                <td>{{ sensor.rssi }}</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    <a href="{% url 'historique' %}" id="historique">Historique</a>
</div>

<script src="{% static 'js/table.js' %}"></script>
{% endblock %}