{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Tableau de bord</h1>
    <table>
        <thead>
            <tr>
                <th>Nom de de la sonde</th>
                <th>Température</th>
                <th>Humidité</th>
                <th>Batterie</th>
            </tr>
        </thead>
        <tbody>
            {% for mesure in data %}
            <tr>
                <td>{{ mesure.fields.sensor_id }}</td>
                <td>{{ mesure.fields.temperature }}</td>
                <td>{{ mesure.fields.humidity }}</td>
                <td>{{ mesure.fields.battery_level }}</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    <a href="{% url 'historique' %}" id="historique">Historique</a>
</div>
{% endblock %}