{% extends "base.html" %}
{% block content %}
<div class="container">
    {% for sensor in data %}
    <h1>{{ sensor.sensor_id }} <button><i class="fa-solid fa-pen"></i></button></h1>
    <form class="detail">
        <div id="temp">temperature</div>
        <div id="detail_temp">{{ sensor.temperature }}</div>
        <div id="g_temp">graph temperature</div>
        <div id="hum">humidité</div>
        <div id="detail_hum">{{ sensor.humidity }}</div>
        <div id="g_hum">graph humidite</div>
    </form>
    {% endfor %}
</div>
<script src="static/js/script.js"></script>
{% endblock %}