{% extends "layout.html" %}
{% load tz %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        let table = new DataTable('#truc', {
            order: [[1, "desc"]]
        })
    })
</script>

<div class="historique_container">
    
    <div class="container">
        <div class="container-header">
            <h1>Historique</h1>
        </div>
        <div class="container-content">
            <table id="truc">
                <thead>
                    <tr>
                        <th>Nom de de la sonde</th>
                        <th>Date</th>
                        <th>Température</th>
                        <th>Humidité</th>
                        <th>Signal RSSI</th>
                        <th>Niveau de batterie</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data|length < 1 %}
                    <tr>EEEEEEE</tr>
                    {% endif %}
                    {% for survey in data %}
                    <tr>
                        <td><a class="refTo" href="{% url 'app_capteur' sensorId=survey.fields.sensor_id %}">{{ survey.fields.sensor_id }}</a></td>
                        <td>{{ survey.fields.date}}</td>
                        <td>{{ survey.fields.temperature }}°C</td>
                        <td>{{ survey.fields.humidity|default:"N/A" }}%</td>
                        <td>{{ survey.fields.battery_level }}</td>
                        <td>{{ survey.fields.rssi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
</div>

{% endblock %}