<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>
        <!-- barre horizontale : bouton HB // heure au centre ? // bouton parametre HB -->
    </h1>

    <div> <!-- température de la sonde selectionnée --> </div>
    <div> <!-- humidité de la sande selectionnée --> </div>

    <div> <!-- graphique des dernières températures --> </div>
    <div> <!-- graphique des dernières humidités --> </div>
    
    <script src="index.js"></script>
</body>
</html>