{% extends 'base.html' %}

{% block body %}
<header>
    <nav class="nav-bar">
        <i class="fa-solid fa-bars" id="nav-bar-collapse-button"></i>
        <ul class="nav-bar-collapse">
            <li class="nav-item"><a href="#">Accueil</a></li>
            <li class="nav-item"><a href="#">Historique</a></li>
            <li class="nav-item"><a href="#">Capteurs</a></li>
            <li class="nav-item"><a href="#">Alertes</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

{% endblock %}

