{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <h1 id="idInput">{{ data.sensor_id }}</h1>
    <form>
        <input type="text" id="nameInput" value="{{ data.nom }}">
        <button id="submit" type="button" onclick="submitSensor()">Valider</button>
        <button id="deleteButton" tyoe="button" onclick="deleteSensor()">Supprimer la sonde</button>
    </form>
</div>
<script src="{% static '/js/modification.js' %}"></script>
<script src="{% static '/js/delete.js' %}"></script>
{% endblock %}