<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filenames='style.css') }}"/>
    <title>Projet CUBES 1</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li id="home">
                    <a href="{{ url_for('dashboard') }}">home &#9776;</a>
                </li>
                <li>
                    <a href="{{ url_for('alerte') }}">alertes &#9888;</a>
                </li>
                <li>
                    <a href="{{ url_for('carte') }}">carte &#9872;</a>
                </li>
                
            </ul>
        </nav>
    </header>
    
{% block dashboard %}{% endblock %}
{% block detail %}{% endblock %}
{% block carte %}{% endblock %}
{% block alerte %}{% endblock %}
{% block historique %}{% endblock %}

</body>
</html>