{% extends "base.html" %}
{% block detail %}
<div class="container">
    <h1>Nom de la sonde <button>&#9997;</button></h1>
    <form class="detail">
        <div id="temp">temperature</div>
        <div id="detail_temp">xx°C</div>
        <div id="g_temp" class="g_temp_container"></div>
        <div id="hum">humidité</div>
        <div id="detail_hum">XX%</div>
        <div id="g_hum" class="g_hum_container">
            <canvas class="myChart"></canvas>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="home/script.js"></script>
{% endblock %}