{% extends "base.html" %}
{% block historique %}
<div class="historique_container">
    <h1>Historique</h1>
    <div>
        <table>
            <tr>
                <td>Nomde de la sonde</td>
                <td>Dates</td>
                <td>Températures</td>
                <td>Humidités</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}