{% extends "base.html" %}
{% block historique %}
<div class="container">
    <h1>Historique</h1>
    <div>
        <table>
            <tr>
                <th>Nomde de la sonde</th>
                <th>Dates</th>
                <th>Températures</th>
                <th>Humidités</th>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
            <tr>
                <td>sonde X</td>
                <td>xx/xx/xxxx : xx:xx</td>
                <td>xx°C</td>
                <td>xx%</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}