@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
  color: white;
}

a {
    text-decoration: none;
}

.container {
    background: #0d8ebe;
    border-radius: 10px;
    width: auto;
    padding: 2%;
    margin: 80px 20px 0 20px;
}

button, input {
  color: black
}
/* NAVBAR */

nav {
    overflow: hidden;
    background: #0d8ebe;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1991;
}

nav li {
    list-style: none;
    font-size: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 18px 16px;
    text-transform: uppercase;
}

nav a:hover {
    background: white;
    color: black;
}

@media screen and (max-width: 600px) {
  .navItem a {
    font-size: 0;
  }
  .navItem a i {
    font-size: 20px;
  }
}


/* DASHBOARD */

#newSonde {
    float: right;
    margin: 10px;
}

/* DETAIL */

.chart-container {
  background-color: white;
  margin: 10px 0;
}

#detail_temp, #detail_hum {
  text-align: center;
  font-size: 5rem;
  margin: 10px 0;
}

.low-temperature {
  border: 2px solid lightblue;
}

.normal-temperature {
  border: 2px solid white;
}

.high-temperature {
  border: 2px solid red;
}

/* CARTE */

#map { 
    height: 450px; 
}

/* DASHBOARDALERTES */

#newAlerte {
  float: right;
  margin: 10px;
}

/* AJOUT ALERTE */

#alertForm {
  text-align: center;
}

#alertForm div {
  margin: 4px;
}

/* HISTORIQUE */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table th, table td { 
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color:black;
  padding: .625em;
  text-align: center;
}

table tr a {
  color: black;
}

table tr a:hover {
  background: #0d8ebe;
  color: white;
}

@media screen and (max-width: 900px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
      padding: 0;
    position: absolute;
    width: 1px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: center;
  }

  table tr {
    border: 2px solid #0d8ebe;
  }

  table tr a:hover {
    background-color: #0d8ebe;
    color: white;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.align-start {
  align-items: start;
}

.space-between {
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-container {
  width: 50%;
}

option {
  color: black;
}

tag {
  --tag-inset-shadow-size : 2em;
}