@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
}

h1 {
    background-color: #0d8ebe;
    color: white;
}

.container {
    background: #0d8ebe;
    border-radius: 10px;
    width: auto;
    padding: 2%;
    margin: 80px 20px 0 20px;
}

/* NAVBAR */

nav {
    overflow: hidden;
    background: #0d8ebe;
    position: fixed;
    width: 100%;
    top: 0;
}

nav li {
    list-style: none;
    font-size: 1.2em;
    height: 60px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 18px 16px;
    text-transform: uppercase;
}

nav a:hover {
    background: white;
    color: black;
}

/* DASHBOARD */

form.dashboard {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "ico temp hum batt"
    "s1 t1 h1 b1"
    "s2 t2 h2 b2"
    "s3 t3 h3 b3";
}

.dashboard div {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    color: white;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

#ico {
    grid-area: ico;
}

#temp {
    grid-area: temp;
}

#hum {
    grid-area: hum;
}

#batt {
    grid-area: batt;
}

#s1 {
    grid-area: s1;
}

#t1 {
    grid-area: t1;
}

#h1 {
    grid-area: h1;
}

#b1 {
    grid-area: b1;
}

#s2 {
    grid-area: s2;
}

#t2 {
    grid-area: t2;
}

#h2 {
    grid-area: h2;
}

#b2 {
    grid-area: b2;
}

#s3 {
    grid-area: s3;
}

#t3 {
    grid-area: t3;
}

#h3 {
    grid-area: h3;
}

#b3 {
    grid-area: b3;
}

#historique {
    float: right;
    text-decoration: none;
    color: white;
}

/* DETAIL */

form.detail {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "temp g_temp g_temp"
    "detail_temp g_temp g_temp"
    "hum g_hum g_hum"
    "detail_hum g_hum g_hum";
}

.detail div {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    color: white;
}

#detail_temp {
    grid-area: detail_temp;
}

#g_temp {
    grid-area: g_temp;
}

#detail_hum {
    grid-area: detail_hum;
}

#g_hum {
    grid-area: g_hum;
}

/* CARTE */

#map { 
    height: 450px; 
}

/* ALERTES */

.alerte_container {
    background: #0d8ebe;
    border-radius: 10px;
    width: auto;
    padding: 2%;
    margin: 80px 20px 0 20px;
}

form.alerte {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "lti lti lts lts"
    "lhi lhi lhs lhs"
    "delai delai delai delai"
    "mail mail mail mail"
    ". . . submit";
}

.alerte div {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    color: white;
}

#limite_tempsup_container {
    grid-area: lts;
}

#limite_tempinf_container {
    grid-area: lti;
}

#limite_humsup_container {
    grid-area: lhs;
}

#limite_huminf_container {
    grid-area: lhi;
}

#delai_container {
    grid-area: delai;
}

#mail_container {
    grid-area: mail;
}

#submit {
    grid-area: submit;
}

#submit {
    color: rgb(0, 0, 0);
}

/* HISTORIQUE */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }